.comment-container{
    display: none;
    border: 3px   solid black;
    padding-top: 20px; 
    padding-bottom: 20px;
}

.div-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.div-details{
    display: grid;
    grid-template-columns: auto auto;
}

.div-flex{
    display: flex;
    gap: 10px;
    margin-left: 35%;
}

.div-image-span{
    display: flex;
}

.close{
    font-size: 75px;
    font-weight: bolder;
}

form{
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 30px;
}

.div-form-comments{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-comments{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ul-comments{
    list-style: none;
    padding: 0;
}

.comment-submit{
    width: 90px;
    height: 30px;
}

input{
    height: 30px;
}

.button-close{
    border: none;
    background-color: white;
    display: flex;
    position: absolute;
    right: 2%;
}

.div-comment-head{
    display: flex;
}